# TENSORFLOW Classification

W California Census Data
GOAL: predict what class of income a person belongs in (>50k or <=50k).

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

### DATA

In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf
import seaborn as sns
%config Completer.use_jedi = False #this command helps with autocomplete lags

In [94]:
df = pd.read_csv('census_data.csv')

In [95]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [96]:
df['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [97]:
# recode labels for tensorflow
def recode_label(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [98]:
df['label'] = df['income_bracket'].apply(recode_label)

In [99]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket,label
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

### Train Test Split

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
X = df.drop(['income_bracket','label'],axis = 1)
y = df['label']

In [102]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [103]:
X_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
20895,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,28,United-States
3384,47,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,Black,Female,15024,0,40,United-States
1832,46,Local-gov,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,24,United-States
18919,46,State-gov,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,48,United-States
31685,60,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States

### Feature Columns for tf.esitmator

In [104]:
df.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket',
       'label'],
      dtype='object')

In [105]:
type(df['age'].values[0])

numpy.int64

categorical values:

In [106]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [107]:
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass',1000)
education = tf.feature_column.categorical_column_with_hash_bucket('education',1000)
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation',1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status',1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship',1000)
race = tf.feature_column.categorical_column_with_hash_bucket('race',1000)
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender',['Male','Female'])
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country',1000)

continuous values:

In [108]:
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')
income_bracket = tf.feature_column.numeric_column('income_bracket')
age = tf.feature_column.numeric_column('age')

In [109]:
age

NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)

In [110]:
feat_cols = [age, workclass, education, education_num, marital_status,
       occupation, relationship, race, gender, capital_gain,
       capital_loss, hours_per_week, native_country]

### Create Input Function

In [111]:
input_func = tf.compat.v1.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size = 10,num_epochs=1000,
    shuffle=True)

In [112]:
linear_model = tf.compat.v1.estimator.LinearClassifier(feature_columns=feat_cols,n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/tk/n3k58pnd31x8x6f8yp8dgllr0000gn/T/tmpsnoakt35
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/tk/n3k58pnd31x8x6f8yp8dgllr0000gn/T/tmpsnoakt35', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [113]:
linear_model.train(input_fn=input_func,steps = 5000)

INFO:tensorflow:Calling model_fn.

/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/base_layer_v1.py:1727: UserWarning: `layer.add_variable` is deprecated and will be removed in a future version. Please use `layer.add_weight` method instead.
  warnings.warn('`layer.add_variable` is deprecated and '

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /var/folders/tk/n3k58pnd31x8x6f8yp8dgllr0000gn/T/tmpsnoakt35/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 6.931472, step = 0
INFO:tensorflow:global_step/sec: 323.996
INFO:tensorflow:loss = 48.886105, step = 100 (0.309 sec)
INFO:tensorflow:global_step/sec: 683.925
INFO:tensorflow:loss = 1.6004076, step = 200 (0.146 sec)
INFO:tensorflow:global_step/sec: 665.491
INFO:tensorflow:loss = 66.73046, step = 300 (0.150 sec)
INFO:tensorflow:global_step/sec: 674.978
INFO:tensorflow:loss = 56.054066, step = 400 (0.148 sec)
INFO:tensorflow:global_step/sec: 679.362
INFO:tensorflow:loss = 1.1512446, step = 500 (0.147 sec)
INFO:tensorflow:global_step/sec: 672.157
INFO:tensorflow:loss = 15.809042, step = 600 (0.149 sec)
INFO:tensorflow:global_step/sec: 676.146
INFO:tensorflow:loss = 160.37605, step = 700 (0.148 sec)
INFO:tensorflow:global_step/sec: 674.544
INFO:tensorflow:loss = 2.0292704, step = 800 (0.148 sec)
INFO:tensorflow:global_step/sec: 751.394
INFO:tensorflow:loss = 342.24936, step = 900 (0.133 sec)
INFO:tensorflow:global_step/sec: 681.873
INFO:tensorflow:loss = 1.0238593, step = 1000 (0.147 sec)
INFO:tensorflow:global_step/sec: 674.04
INFO:tensorflow:loss = 0.89418197, step = 1100 (0.148 sec)
INFO:tensorflow:global_step/sec: 670.623
INFO:tensorflow:loss = 24.06689, step = 1200 (0.149 sec)
INFO:tensorflow:global_step/sec: 677.282
INFO:tensorflow:loss = 10.683655, step = 1300 (0.148 sec)
INFO:tensorflow:global_step/sec: 727.739
INFO:tensorflow:loss = 2.733474, step = 1400 (0.137 sec)
INFO:tensorflow:global_step/sec: 676.893
INFO:tensorflow:loss = 4.5701075, step = 1500 (0.148 sec)
INFO:tensorflow:global_step/sec: 676.223
INFO:tensorflow:loss = 3.793313, step = 1600 (0.148 sec)
INFO:tensorflow:global_step/sec: 655.274
INFO:tensorflow:loss = 4.7342134, step = 1700 (0.153 sec)
INFO:tensorflow:global_step/sec: 728.661
INFO:tensorflow:loss = 4.8566236, step = 1800 (0.137 sec)
INFO:tensorflow:global_step/sec: 667.86
INFO:tensorflow:loss = 39.123505, step = 1900 (0.150 sec)
INFO:tensorflow:global_step/sec: 662.519
INFO:tensorflow:loss = 6.830098, step = 2000 (0.151 sec)
INFO:tensorflow:global_step/sec: 663.883
INFO:tensorflow:loss = 4.839298, step = 2100 (0.151 sec)
INFO:tensorflow:global_step/sec: 674.331
INFO:tensorflow:loss = 2.0165086, step = 2200 (0.148 sec)
INFO:tensorflow:global_step/sec: 680.509
INFO:tensorflow:loss = 64.172485, step = 2300 (0.147 sec)
INFO:tensorflow:global_step/sec: 671.291
INFO:tensorflow:loss = 4.6318808, step = 2400 (0.149 sec)
INFO:tensorflow:global_step/sec: 672.534
INFO:tensorflow:loss = 4.523985, step = 2500 (0.149 sec)
INFO:tensorflow:global_step/sec: 671.336
INFO:tensorflow:loss = 4.8912683, step = 2600 (0.149 sec)
INFO:tensorflow:global_step/sec: 681.055
INFO:tensorflow:loss = 2.9555433, step = 2700 (0.147 sec)
INFO:tensorflow:global_step/sec: 677.533
INFO:tensorflow:loss = 2.9319682, step = 2800 (0.148 sec)
INFO:tensorflow:global_step/sec: 671.463
INFO:tensorflow:loss = 2.1870215, step = 2900 (0.149 sec)
INFO:tensorflow:global_step/sec: 662.058
INFO:tensorflow:loss = 34.370724, step = 3000 (0.151 sec)
INFO:tensorflow:global_step/sec: 652.579
INFO:tensorflow:loss = 78.82086, step = 3100 (0.153 sec)
INFO:tensorflow:global_step/sec: 657.41
INFO:tensorflow:loss = 139.99933, step = 3200 (0.152 sec)
INFO:tensorflow:global_step/sec: 692.463
INFO:tensorflow:loss = 5.9139895, step = 3300 (0.144 sec)
INFO:tensorflow:global_step/sec: 688.033
INFO:tensorflow:loss = 1.8860838, step = 3400 (0.145 sec)
INFO:tensorflow:global_step/sec: 689.152
INFO:tensorflow:loss = 3.321198, step = 3500 (0.145 sec)
INFO:tensorflow:global_step/sec: 680.452
INFO:tensorflow:loss = 1.8000544, step = 3600 (0.147 sec)
INFO:tensorflow:global_step/sec: 686.442
INFO:tensorflow:loss = 7.7620664, step = 3700 (0.146 sec)
INFO:tensorflow:global_step/sec: 680.553
INFO:tensorflow:loss = 10.812455, step = 3800 (0.147 sec)
INFO:tensorflow:global_step/sec: 666.894
INFO:tensorflow:loss = 6.4376287, step = 3900 (0.150 sec)
INFO:tensorflow:global_step/sec: 657.112
INFO:tensorflow:loss = 2.9187942, step = 4000 (0.152 sec)
INFO:tensorflow:global_step/sec: 686.474
INFO:tensorflow:loss = 71.4476, step = 4100 (0.147 sec)
INFO:tensorflow:global_step/sec: 653.842
INFO:tensorflow:loss = 5.618479, step = 4200 (0.152 sec)
INFO:tensorflow:global_step/sec: 715.855
INFO:tensorflow:loss = 11.338776, step = 4300 (0.140 sec)
INFO:tensorflow:global_step/sec: 668.718
INFO:tensorflow:loss = 8.454724, step = 4400 (0.150 sec)
INFO:tensorflow:global_step/sec: 664.62
INFO:tensorflow:loss = 5.340324, step = 4500 (0.150 sec)
INFO:tensorflow:global_step/sec: 681.598
INFO:tensorflow:loss = 2.4944067, step = 4600 (0.147 sec)
INFO:tensorflow:global_step/sec: 677.502
INFO:tensorflow:loss = 4.116102, step = 4700 (0.148 sec)
INFO:tensorflow:global_step/sec: 664.814
INFO:tensorflow:loss = 4.6830807, step = 4800 (0.150 sec)
INFO:tensorflow:global_step/sec: 673.473
INFO:tensorflow:loss = 2.7692456, step = 4900 (0.149 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 5000...
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/tk/n3k58pnd31x8x6f8yp8dgllr0000gn/T/tmpsnoakt35/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 5000...
INFO:tensorflow:Loss for final step: 4.4390225.

### Evaluation

In [114]:
pred_func = tf.compat.v1.estimator.inputs.pandas_input_fn(x=X_test,batch_size = 10,num_epochs=1,
    shuffle=False)

In [115]:
predictions = list(linear_model.predict(input_fn=pred_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/tk/n3k58pnd31x8x6f8yp8dgllr0000gn/T/tmpsnoakt35/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [116]:
predictions[0]['class_ids'][0]

0

In [117]:
predicted_labels = []
for i in range(len(predictions)):
    predicted_labels.append(predictions[i]['class_ids'][0])

In [118]:
from sklearn.metrics import classification_report

In [86]:
print(classification_report(y_test,predicted_labels))

              precision    recall  f1-score   support

           0       0.88      0.90      0.89      7436
           1       0.66      0.61      0.63      2333

    accuracy                           0.83      9769
   macro avg       0.77      0.76      0.76      9769
weighted avg       0.83      0.83      0.83      9769